VITE_DATA_IMPORT_URL=http://localhost:8005
VITE_FORECAST_URL=http://localhost:8002
VITE_RECOMMENDED_ORDER_URL=http://localhost:8001
VITE_SUPERVISION_URL=http://localhost:8004
VITE_ANALYTICS_URL=http://localhost:8003
